<!DOCTYPE html>
<html>
	<body>
		<h1>Hello World</h1>
		<canvas id="game-canvas" width="640" height="640"></canvas>
		<div id="controls">
            <button id="btn-left">LEFT</button>
            <button id="btn-shoot">SHOOT</button>
            <button id="btn-right">RIGHT</button>
        </div>
		<script src="/socket.io.js"></script>
		<% include partials/scripts %>
	</body>
</html>