<!DOCTYPE html>
<html>
	<body>
		<h1>Hello World</h1>
		<canvas id="game-canvas" width="640" height="640"></canvas>
		<script src="/socket.io.js"></script>
		<% include partials/scripts %>
	</body>
</html>