<!DOCTYPE html>
<html>
	<body style="background: grey">
		<div style="height: 100%; background: #0095DD; border-right: 10px solid #0095DD; border-top-right-radius: 20px; border-bottom-right-radius: 20px; -webkit-border-top-right-radius: 20px; -webkit-border-bottom-right-radius: 20px; -moz-border-top-right-radius: 20px; -moz-border-bottom-right-radius: 20px; border-left: 10px solid #0095DD; border-top-left-radius: 20px; border-bottom-left-radius: 20px; -webkit-border-top-left-radius: 20px; -webkit-border-bottom-left-radius: 20px; -moz-border-top-left-radius: 20px; -moz-border-bottom-left-radius: 20px;  border-collapse: separate;">
			<h1 align="center">Fight or Flight</h1>
		</div>
		<div style="width: 850px; margin: auto">
			<canvas id="game-canvas" width="640" height="500" style="border: 1px solid black; background: white"></canvas>
			<canvas id="score" width="200" height="500" style="border: 1px solid black; background: white"></canvas>
		</div>
		<script src="/socket.io.js"></script>
		<% include partials/scripts %>
	</body>
</html>